@{
    ViewData["Title"] = "Employee Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Test Page Display</h1>
    <p>No record listed!</p>
    <button type="button" class="btn btn-secondary"  onclick="location.href='@Url.Action("EmployeeForm","Home")'">Create/Add Employee</button>
</div>
