@{
    ViewData["Title"] = "Projects Page";
}

<div class="text-center">
    <h1 class="display-4">Projects Test Page Display</h1>
    <p>No record listed!</p>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ProjectsForm","Home")'">Create/Add Project</button>
</div>
